# Firebase - FOR PROD CHANGE
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_SETTINGS_ID=
# Firebase - FOR PROD CHANGE
NEXT_PUBLIC_FIREBASE_HOLIDAYS_BLOCKED_SCHED_ID=

# Clerk - FOR PROD CHANGE
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
# Clerk - GOOD
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Appwrite - FOR PROD CHANGE
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_BUCKET_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
# Appwrite - GOOD
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_DB_MATTERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_DB_NOTARY_REQUESTS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_DB_RETAINERS_COLLECTION_ID=

# Google Console - FOR PROD CHANGE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Console - GOOD (developer.baisandanlaw@gmail.com)
GOOGLE_REFRESH_TOKEN=
NEXT_PUBLIC_GOOGLE_BAISANDANLAW_PARENT_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_DOCUMENTS_MATTERS_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_DOCUMENTS_RETAINERS_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_DOCUMENTS_NOTARY_FOLDER_ID=

# Google Console - GOOD (system.baisandanlaw@gmail.com)
GOOGLE_RECEIPTS_REFRESH_TOKEN=
NEXT_PUBLIC_GOOGLE_RECEIPTS_APPOINTMENTS_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_RECEIPTS_MATTERS_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_RECEIPTS_RETAINERS_FOLDER_ID=
NEXT_PUBLIC_GOOGLE_RECEIPTS_REQUESTS_FOLDER_ID=

# Misc - GOOD
NEXT_PUBLIC_APP_URL=http://localhost:3000

# RESEND_API_KEY="re_AE4xxVzj_5WtoB4513Ggt3moeataG1HvP"